# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

config NICE_VIEW_HID
    bool "Enable nice!view display with Raw HID"
    imply ZMK_DISPLAY
    select LV_USE_IMAGE
    select LV_USE_CANVAS
    select LV_FONT_MONTSERRAT_14
    select LV_FONT_MONTSERRAT_16
    select LV_FONT_MONTSERRAT_18
    select LV_FONT_MONTSERRAT_20
    select LV_FONT_MONTSERRAT_22

config NICE_VIEW_HID_TWO_PROFILES
    bool "Limit displayed profiles to two"

config NICE_VIEW_HID_SHOW_LAYOUT
    bool "Show layout"
    default y

config NICE_VIEW_HID_LAYOUTS
    string "Comma-separated layout list"
    default "EN"

config NICE_VIEW_HID_INVERTED
    bool "Invert widget colors"

config NICE_VIEW_HID_MEDIA_SCROLL
    bool "Scroll overflowing media text"
    default n

config NICE_VIEW_HID_MEDIA_SCROLL_INTERVAL_MS
    int "Media scroll interval"
    default 350
    depends on NICE_VIEW_HID_MEDIA_SCROLL

config NICE_VIEW_HID_MEDIA_SCROLL_MIN_BATTERY
    int "Minimum battery percentage for media scrolling"
    range 0 100
    default 25
    depends on NICE_VIEW_HID_MEDIA_SCROLL

config LV_DPI_DEF
    default 161

config LV_Z_VDB_SIZE
    default 100

config LV_Z_BITS_PER_PIXEL
    default 1

config LV_Z_MEM_POOL_SIZE
    default 4096

choice LV_COLOR_DEPTH
    default LV_COLOR_DEPTH_1
endchoice

choice ZMK_DISPLAY_WORK_QUEUE
    default ZMK_DISPLAY_WORK_QUEUE_DEDICATED
endchoice

choice ZMK_DISPLAY_STATUS_SCREEN
    default ZMK_DISPLAY_STATUS_SCREEN_CUSTOM
endchoice
